<div class="layer">
  <!--  Hamburger Icon-->
  <span class="hamburger" style="font-size: 2em; color: black;"><i class="fas fa-bars"></i></span>
  <!--  Header Section-->
  <header>
    <h1 class="h-t">Top 5 <strong class="text-gradient">Web Design</strong> Podcasts</h1>
    <!--    Shapes Section-->
    <section class="shapes">
      <img src="/assets/svg/circle.svg" alt="apple logo" class="circle">
      <img src="/assets/svg/triangle.svg" alt="apple logo" class="triangle">
    </section>
  </header>
  <br><br><br><br><br><br>
  <!--  Podcasts Component-->
  <app-podcasts></app-podcasts>
  <br><br>
</div>

