* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "SpaceMono";
  src: local("SpaceMono"), url("./assets/fonts/Space_Mono/SpaceMono-Bold.ttf");
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: local("SpaceMono-Regular"), url("./assets/fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "WorkSans";
  src: local("WorkSans"), url("./assets/fonts/Work_Sans/WorkSans-Regular.ttf");
}

body {
  background: #FFFAFA;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

